home_nvim.sample/*
!home_nvim.sample/.gitconfig
!home_nvim.sample/.gitignore
!home_nvim.sample/.config/
!home_nvim.sample/.config/nvim
!home_nvim.sample/.byobu/
!home_nvim.sample/.vsnip/
!home_nvim.sample/.ctrlp-launcher
!home_nvim.sample/.ctrlp/
!home_nvim.sample/.help

home_nvim.sample/.config/*
!home_nvim.sample/.config/nvim/
home_nvim.sample/.config/nvim/*
!home_nvim.sample/.config/nvim/init.vim
!home_nvim.sample/.config/nvim/init_originals.vim
!home_nvim.sample/.config/nvim/init_plugins.vim

home_nvim.sample/.byobu/*
!home_nvim.sample/.byobu/keybindings.tmux
!home_nvim.sample/.byobu/.tmux.conf

node_modules/
tmp/
