HISTSIZE=5000
HISTFILESIZE=10000

. "$HOME/.asdf/asdf.sh"
. "$HOME/.asdf/completions/asdf.bash"

alias nvim='GIT_PAGER="" nvim'
alias dr='docker'
alias drc='docker compose'
alias gitco='nvim -c Merginal -c only'
alias gitup='git branch --contains | cut -d " " -f 2 |xargs -i git push origin {}'
alias gitmp='git branch --contains | cut -d " " -f 2 |xargs -i git branch tmp/{}'

export MANPAGER='nvim +Man!'
export PATH=$PATH:$(go env GOPATH)/bin
export CHATGPT_API_KEY=

# for elixir-ls documents
export KERL_BUILD_DOCS=yes
