HISTSIZE=5000
HISTFILESIZE=10000

. "$HOME/.asdf/asdf.sh"
. "$HOME/.asdf/completions/asdf.bash"

export MANPAGER='nvim +Man!'
alias nvim='GIT_PAGER="" nvim'
alias dr='docker'
alias drc='docker compose'

export PATH=$PATH:$(go env GOPATH)/bin
export CHATGPT_API_KEY=
