[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	co = checkout
	st = status
	dd = diff
	ddc = diff --cached
[core]
	editor = /usr/bin/vim
	pager = lv -c
	excludesfile = ~/.gitignore
[user]
	email = 61908291+tato-gh@users.noreply.github.com
	name = tato
[init]
	defaultBranch = main
