.DS_Store
*~
*.swp
.sw*

/tmp
.memo

.env

.iex.exs

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Claude tmps, my files
.claude/logs/
.claude/works/
.claude/CLAUDE.md

# Claude samples to persist
!.claude/CLAUDE.md.sample
!.claude/CLAUDE.md.project.sample
!.claude/CLAUDE.md.project.mine.sample
!.claude/works.sample/

